# systemd

alias start='sudo systemctl start'
alias stop='sudo systemctl stop'
alias restart='sudo systemctl restart'
alias reload='sudo systemctl reload'
alias enable='sudo systemctl enable'
alias disable='sudo systemctl disable'
alias state='sudo systemctl status'

# Arch Linux

alias p='sudo pacman -Ss'
alias pin='sudo pacman -S'
alias pup='sudo pacman -Su'
alias pout='sudo pacman -Rcs'

alias y='yay'

alias net-auto='sudo netctl stop-all; sudo systemctl restart netctl-auto@wlp4s0'
alias net-profile='sudo systemctl stop netctl-auto@wlp4s0; sudo netctl restart'

# Git

alias ga='git add'
alias gc='git commit'
alias gca='git commit -a'
alias gcaa='git commit -a --amend'
alias gco='git checkout'
alias gd='git diff'
alias gg='git graph'
alias gs='git status --short'

# Modern alternatives

alias cat='bat'
alias l='exa -al --time-style=long-iso --sort=modified'

# Set default options for some tools

alias vi='nvim'
alias vim='nvim'
alias ls='ls --color=auto -tr -N'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias df='df -h'
alias free='free -h'
alias objdump='objdump -Mintel'
alias maim='maim -s --hidecursor'
alias sm='sm -f white -b black ""'
alias mscan='mscan -I'
alias mextract='mscan -x .'
alias youtube-dl='youtube-dl --no-mtime'
alias gdb='gdb -q'
alias ffprobe='ffprobe -hide_banner'
alias ffmpeg='ffmpeg -hide_banner'
alias dmesg='sudo dmesg -Hw'

# Lazyness

alias o='xdg-open'
alias chx='chmod u+x'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias x='exec startx'
alias die='sudo shutdown -h now'
alias zzz='systemctl suspend'
alias reboot='sudo reboot'
alias pt='sudo powertop'
alias si='sudo vim'
alias vimrc='vim -c \'e $MYVIMRC\''
alias yt='yt-dlp'

alias kanji='evince ~/library/books/kklc.pdf'

alias lowres='autorandr triple-lowres'
alias highres='autorandr triple'

# Programs in unusual locations

alias nom='ruby -I~/permanent/nom/lib ~/permanent/nom/bin/nom'

# Handy tools

alias ducks='du -cksh * | sort -h'
alias ducksa='du -cksh * .??* | sort -h'
alias psgrep='ps ax | grep '
alias ptest='ping google.de'
