# Systemd

alias start='sudo systemctl start'
alias stop='sudo systemctl stop'
alias restart='sudo systemctl restart'
alias reload='sudo systemctl reload'
alias enable='sudo systemctl enable'
alias disable='sudo systemctl disable'
alias state='sudo systemctl status'

# Arch

alias pin='sudo pacman -S'
alias pup='sudo pacman -Su'
alias yup='yaourt -Syu --aur --noconfirm'
alias p='pacman -Ss'
alias pout='sudo pacman -Rcs'
alias y='yaourt --noconfirm'
alias po='pacman -Qo'

alias net-auto='sudo netctl stop-all; sudo systemctl restart netctl-auto@wlp4s0'
alias net-profile='sudo systemctl stop netctl-auto@wlp4s0; sudo netctl restart'

alias mnt-auto='sudo systemctl restart mnt-usb.automount'
alias mnt-stop='sudo systemctl stop mnt-usb.mount'

# Git

alias git='hub'
alias ga='git add'
alias gc='git commit'
alias gd='git diff'
alias gg='git graph'
alias gl='git log'
alias gs='git status'
alias gp='git push'

# Set default options for some tools

alias ls='ls --color=auto -tr -N'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias df='df -h'
alias free='free -h'
alias mpv='mpv --save-position-on-quit'
alias objdump='objdump -Mintel'
alias maim='maim -s --hidecursor'
alias sm='sm -f white -b black ""'
alias mscan='mscan -I'
alias mextract='mscan -x .'
alias mmail='oi; mlist ~/permanent/mail/INBOX|msort -d|mseq -S; mscan'
alias youtube-dl='youtube-dl --no-mtime'

# Lazyness

alias l='ls -Alh --time-style=long-iso'
alias o='xdg-open'
alias chx='chmod u+x'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias x='exec startx'
alias die='sudo shutdown -h now'
alias reboot='sudo reboot'
alias pt='sudo powertop'
alias pte='watch -n 0.1 ping google.de'
alias j='jfe -c'
alias k='rlwrap k'
alias gemin='sudo gem install --no-user-install'
alias vi='vim'
alias si='sudo vim'
alias vimrc='vim ~/.vimrc'
alias hc='herbstclient'
alias oi='offlineimap -f INBOX,Archive,Sent'

# Handy tools

alias ducks='du -cksh * | sort -h'
alias ducksa='du -cksh * .??* | sort -h'
alias murder='killall -9'
alias psgrep='ps ax | grep '
alias ptest='ping -c1 google.de'
alias meep='notify-send -u critical meep'
