# Aptitude

alias ain='sudo apt-get install'
alias aup='sudo apt-get update; sudo apt-get upgrade'
alias a='apt-cache search'
alias aout='sudo apt-get remove'
alias as='aptitude show'
alias eas='sudo vi /etc/apt/sources.list'

# Pacman

alias pin='sudo pacman -S'
alias pup='sudo pacman -Su'
alias yup='yaourt -Syu --aur --noconfirm'
alias p='pacman -Ss'
alias pout='sudo pacman -Rcs'
alias y='yaourt --noconfirm'
alias po='pacman -Qo'

# Set default options for some tools

alias ls='ls --color=auto -tr'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias df='df -h'

# Lazyness

alias l='ls -Alh --time-style=long-iso'
alias o='xdg-open'
alias chx='chmod u+x'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias x='exec startx'
alias die='sudo shutdown -h now'
alias reboot='sudo reboot'
alias pt='sudo powertop'
alias pte='watch -n 0.1 ptest'
alias j='jfe -c'
alias k='rlwrap k'
alias gemin='sudo gem install --no-user-install'
alias vi='vim'
alias si='sudo vim'
alias vimrc='vim ~/.vimrc'

# Handy tools

alias ducks='du -cksh * | sort -h'
alias ducksa='du -cksh * .??* | sort -h'
alias murder='killall -9'
alias psgrep='ps ax | grep '
alias ptest='ping -c1 google.de'
alias beamer='xrandr --output LVDS1 --mode 1024x768 --output VGA1 --mode 1024x768'
