# Ignore non-dot files:
/archive/
/library/
/permanent/
/tmp/
/wip/

# Secrets/passwords:
/.bitcoin/
/.electrum/
/.gnupg/
/.notmuch-config
/.password-store/
/.purple/
/.ssh/
/.twurlrc
/.bin/stats

# Data and histories:
/.arduino15/
/.audacity-data/
/.bash_history
/.calibre/
/.cargo/
/.fonts/
/.gem/
/.ghc/
/.gramps/
/.habitctl/
/.irb_history
/.lexaloffle/
/.lmmsrc.xml
/.local/
/.minecraft/
/.minetest/
/.mozilla/
/.nom/
/.npm/
/.offlineimap/
/.oO/
/.psql_history
/.python_history
/.Rack/
/.rustup/
/.steam/
/.task/
/.wine/
/.zoom/

# Symlinks that change often:
/.mpv/scripts/

# Caches/temporary files:
/.lesshst
/.mpv/watch_later/
/.mutt/cache/
/.pulse/
/.sane/
/.sqlite_history
/.steampath
/.steampid
