[core]
    excludesfile = ~/.gitignore_global
	autocrlf = input
[color]
    ui = true
[alias]
    ci = commit
    co = checkout
    st = status
    df = diff
    dfw = diff --color-words
    graph = log --graph --pretty=oneline --abbrev-commit --all --decorate
    take = checkout -b
[push]
	default = current
