[alias]
	ci = commit
	co = checkout
	df = diff
	dfw = diff --color-words
	graph = log --graph --pretty=oneline --abbrev-commit --all --decorate
	st = status
	take = checkout -b
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[log]
	decorate = true
[push]
	default = current
[diff]
    compactionHeuristic = true
