/archive/
/library/
/permanent/
/tmp/
/wip/

/.arduino15/
/.audacity-data/
/.bash_history
/.bin/stats
/.bitcoin/
/.bundle/cache/
/.calibre/
/.cargo/
/.config/anki/
/.config/ardour6/
/.config/aseprite/
/.config/beets/
/.config/blender/
/.config/borg/
/.config/calibre/
/.config/chromium/
/.config/configstore/
/.config/darktable/
/.config/dconf/
/.config/eog/
/.config/evince/
/.config/fish/fish_history*
/.config/GIMP/
/.config/godot/
/.config/gtk-2.0/
/.config/hub
/.config/inkscape/
/.config/kritadisplayrc
/.config/kritarc
/.config/Sabaki/
/.config/libreoffice/
/.config/liferea/
/.config/mpd/
/.config/mpv/scripts/
/.config/mpv/watch_later/
/.config/nvim/spell/
/.config/obs-studio/
/.config/OpenSCAD/
/.config/pavucontrol.ini
/.config/pulse/cookie
/.config/ranger/bookmarks
/.config/ranger/history
/.config/Signal/
/.config/skypeforlinux/
/.config/torbrowser/
/.config/transmission/
/.config/unity3d/
/.config/Unknown Organization/zoom.conf
/.config/zoomus.conf
/.electrum/
/.fonts/
/.gem/
/.ghc/
/.gnupg/
/.gramps/
/.habitctl/
/.irb_history
/.lesshst
/.lexaloffle/
/.lmmsrc.xml
/.local/
/.minecraft/
/.minetest/
/.mozilla/
/.mutt/cache/
/.node_repl_history
/.nom/
/.notmuch-config
/.npm/
/.offlineimap/
/.oO/
/.password-store/
/.pki/
/.psql_history
/.pulse/
/.purple/
/.python_history
/.Rack/
/.rustup/
/.sane/
/.sqlite_history
/.ssh/
/.steam/
/.steampath
/.steampid
/.task/
/.twurlrc
/.wine/
/.Xauthority
/.zoom/
/.config/gopass/gopass-logo-small.png
/.config/wireshark/
/.meteor/
/.npm-packages/
/.subversion/
/.tor-browser-en/
