Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

xterm*faceName: monospace
xterm*faceNameDoublesize: IPAGothic
xterm*faceSize: 18
xterm*saveLines: 100000
! double-click to select whole URLs:
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

urxvt*font: xft:monospace:size=18,xft:IPAGothic:size=18
urxvt*saveLines: 100000
urxvt*scrollBar: false

*background: black
*foreground: white

! tango-like colorscheme

! black dark/light
*color0:  #2e3436
*color8:  #555753
! red dark/light
*color1:  #cc0000
*color9:  #ef2929
! green dark/light
*color2:  #4e9a06
*color10: #8ae234
! yellow dark/light
*color3:  #c4a000
*color11: #fce94f
! blue dark/light
*color4:  #3465a4
*color12: #729fcf
! purple dark/light
*color5:  #75507b
*color13: #ad7fa8
! cyan dark/light
*color6:  #06989a
*color14: #34e2e2
! white dark/light
*color7:  #d3d7cf
*color15: #eeeeec
