snippet main
public class $1 {
    public static void main(String[] args) {
        $0
    }
}
endsnippet

snippet cl
public class $1 {
    public $1($2) {
        $0
    }
}
endsnippet

snippet sop
System.out.println(
endsnippet
