snippet fmail
Sehr geehrte${1: Damen und Herren},

$0

Freundliche Grüße,
`echo "$FIRST_NAME"`${2:`echo " $LAST_NAME"`}
endsnippet

snippet mail
${1:Hey},

$0

Freundliche Grüße,
`echo "$FIRST_NAME"`
endsnippet

snippet fg
Freundliche Grüße,
`echo "$FIRST_NAME"`${0:`echo " $LAST_NAME"`}
endsnippet

snippet lg
Liebe Grüße,
`echo "$FIRST_NAME"`
endsnippet

snippet kr
Kind regards,
`echo "$FIRST_NAME"`${0:`echo " $LAST_NAME"`}
endsnippet
