snippet fmail
Sehr geehrte${1: Damen und Herren},

$0

Freundliche Grüße,
`echo "$FULLNAME"`
endsnippet

snippet mail
${1:Hey},

$0

Freundliche Grüße,
`echo "$FULLNAME"`
endsnippet

snippet fg
Freundliche Grüße,
`echo "$FULLNAME"`
endsnippet

snippet lg
Liebe Grüße,
`echo "$FULLNAME"`
endsnippet

snippet kr
Kind regards,
`echo "$FULLNAME"`
endsnippet
